<div class="container">
 
    <div class="grid-container">
      <div class="root">
        <div class="container-progress">
             <ul class="progressbar">
               <li class="active">Início</li>
               <li>Documentos</li>
               <li>Dados Cadastrados</li>
               <li>Admissão</li>
             </ul>
         </div>
     </div>
<br><br><br><br><br>
        <p style="font-size: 25px">Informe o CPF do futuro cooperado(a)</p>
        <p style="font-size: 12px">Se necessário, você poderá duplicar uma conta existente ou pausar e retornar esse cadastro futuramente.
            Digite apenas os números (sem pontos ou traços).</p>
        <p style="font-size: 20px">CPF</p>
        <form class="example-container" [formGroup]="usuarioForm" (ngSubmit)="getUsuario()">
            <mat-form-field >
                <input matInput name="cpf" placeholder="000.000.000-00" formControlName="cpf">
              </mat-form-field>
    <button type="submit" [disabled]="!usuarioForm.valid" mat-raised-button color="primary" >Consultar por CPF</button>
        </form>
          <div *ngIf="isUsuario" class="row">
            <div class="col-md-6"style="width: 360px;  margin-top: 50px;">
              <div class="card">
                <div class="card-body">
                  <h5 class="card-title">Situação Cadastral do CPF</h5>
                  <p style="font-size: 18px;margin-top: 20px;">
                    <span class="align-icon"><i class="fa-sharp fa-solid fa-user"></i></span> 
                    {{usuario.nome}}
                  </p>
                  <p style="font-size: 18px;margin-top: 20px;">
                    <span class="align-icon"><i class="fas fa-check-circle"></i></span> 
                    {{usuario.status}}
                  </p>
                </div>
              </div>
            </div>
    </div> 
</div>
