<!-- <div class="container-fluid page">
    <div class="d-flex page__box p-3 mt-2">Home</div>
    <div class="page__content shadow p-3 position-relative">
      <div class="page__content-data position-absolute text-center">
        <form>
            <div>
              <div class="col-auto">
                <label class="sr-only" for="inlineFormInput">cpf</label>
                <input type="text" class="form-control mb-2" id="inlineFormInput" placeholder="XXX.XXX.XXX-XX">
              </div>
              <div class="col-auto">
                <button type="submit" class="btn btn-primary mb-2">Consultar</button>
              </div>
            </div>
          </form>
          
      </div>
      
    </div>
  </div> -->
<div class="container">
    <div class="grid-container">
        <p style="font-size: 25px">Informe o CPF do futuro cooperado(a)</p>
        <p style="font-size: 12px">Se necessário, você poderá duplicar uma conta existente ou pausar e retornar esse cadastro futuramente.
            Digite apenas os números (sem pontos ou traços).</p>
        <p style="font-size: 20px">CPF</p>
        <div class="input-group mb-3" style="width: 500px;" >
            <input type="text" class="form-control" placeholder="000.000.000-00" style="margin-right: 10px;">

    <button class="btn btn-outline-secondary" type="button" style="background: #a0a2a3;">Consultar por CPF</button>
          </div>

          <div class="row">
            <div class="col-md-6"style="width: 360px;  margin-top: 50px;">
              <div class="card">
                <div class="card-body">
                  <h5 class="card-title">Situação Cadastral do CPF</h5>
                  <p style="font-size: 18px;margin-top: 20px;">
                    <span class="align-icon"><i class="fa-sharp fa-solid fa-user"></i></span> 
                    Nome
                  </p>
                  <p style="font-size: 18px;margin-top: 20px;">
                    <span class="align-icon"><i class="fas fa-check-circle"></i></span> 
                    Regular
                  </p>
                </div>
              </div>
            </div>
    </div>

   
      

</div>
