<!-- <nav class="navbar navbar-expand navbar-light bg-light">

    
    <a class="navbar-brand px4" href="#">NOVA ADMISSÃO COOPERADO</a>
    
    <div class="navbar-collapse">
        <ul class="navbar-nav me-auto">
            <li class="nav-item dropdown">
                <a>

                </a>

            </li>

        </ul>

    </div>
    
</nav>
   -->
  
  <mat-toolbar class="toolbar">
  <mat-toolbar-row class="justify-content-between">
    <div class="titulo">
        <p>NOVA ADMISSÃO COOPERADO</p>
      </div> 
  </mat-toolbar-row>
</mat-toolbar>

  
  
  