<!-- <div class="container-fluid g-0">
    <app-menu (sideNavToggled)="sideNavStatus= $event;" [sideNavStatus]="sideNavStatus" [ngClass]="{'app-menu-open': sideNavStatus}"></app-menu>
    <header></header>
    <main>
      
        <div class="display-area" [ngClass]="{'display-area-shrink': sideNavStatus}">
            <p>teste area</p>
        </div>

    </main>
</div> -->
<mat-drawer-container>
    <mat-drawer mode="side" [opened]="sideBarOpen">
      <!-- <mat-drawer mode="side" opened="true"> -->
      <app-menu (sideNavToggled)="sideNavStatus= $event;" [sideNavStatus]="sideNavStatus" [ngClass]="{'app-menu-open': sideNavStatus}"></app-menu>
    </mat-drawer>
    <mat-drawer-content [ngClass]="{'display-area-shrink': sideNavStatus}">
      <app-header></app-header>
      <app-home></app-home>
    </mat-drawer-content>
  </mat-drawer-container>
  