app-header {
    position: fixed;
    width: 100%;
    top: 0px;
    height: 5rem;
    z-index: 2;
}

main{
    position: absolute;
    width: 100%;
    top:4rem;
    z-index: 1;
}


app-menu{
    position: fixed;
    left: 0rem;
    width: 80px;
    height: calc(100vh );
    box-shadow: 0px 0px 10px rgba(56, 56, 56, 0.5);
    background-color: #165C7D;
    overflow-x:hidden;
    white-space: nowrap;
}
.app-menu-open{
    width: 250px;
}
.display-area{
    position: absolute;
    left:60px;
    width: calc(100% - 60px);
    z-index: 3;
    
}

.display-area-shrink{
    width: calc(100% - 250px);
    left: 250px;
}

:host {
    display: flex;
    flex-direction: column;
    height: 100%;
  }
  
  mat-drawer-container {
    height: 100%;
    background-color: #E8EFF2;
  }
  
  mat-drawer {
    background: #165C7D;
  }
  
 